body{
    background-color:#FFFFFF;
    color: #757575;
     
}
.logo{
    font-family: Raleway;
    color: #000;
font-style: normal;
font-weight: 700px;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo-white{
    font-family: Raleway;
    color: #FFFFFF;
font-style: normal;
font-weight: 700px;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo-web{
    color: #2196F3;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.navigacion .studio{
    color: #2196F3;
}
.navigacion .link{
    color: #212121;

}
.header a:hover,
.header a:focus{
    color: #CD5700;
}
/*.navigacion .link:hover,
.navigacion .link:focus{
    color: rgb(0,0,238);
}*/
.contacts .mail{
    color: #2196F3;
} 
.contacts .telefon{
    color: #212121;
}
.hero .hero-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900px;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#2F303A ;
} 
.hero-button{
    font-family: Roboto;
font-style: normal;
font-weight: 700px;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
}
.section-team{
    background-color:#F5F4FA ;
}
.section-title{
    font-family: Roboto;
font-style: normal;
font-weight: 700px;
font-size: 36px;
line-height: 1.17;
text-align: center;
}
/* наши качества*/
.quality .quality-title{
    font-family: Roboto;
font-style: normal;
font-weight: 700px;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.quality .quality-text{
    font-family: Roboto;
font-style: normal;
font-weight: 400px;
font-size: 14px;
line-height: 1.71;
}
.team .team-name{
    font-family: Roboto;
    color: #212121;
font-style: normal;
font-weight: 500px;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}
.team .team-prof{
    font-family: Roboto;
    color: #757575;
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}
.footer{
background-color:#2F303A ;
}
.footer .address{
    font-family: Roboto;
font-style: normal;
font-weight: 400px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer .address-tel{
    font-family: Roboto;
font-style: normal;
font-weight: 400px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/*основной цвет #212121 */
/*вторичный цвет #757575 */
/*белый цвет #FFFFFF */
/*цвет акцента #2196F3 */
/*цвет адрес и телефон rgba(255,255,255,0.6) */
/*цвет фона серый дополнительный #F5F4FA */
/*цвет фона #FFFFFF */
/* цвет фона вторичный #2F303A*/
